// card
.el-card {
  margin-bottom 12px
  &:last-child {
    margin-bottom 0
  }
}
// register
.register-card{
  width 60%
  form{
    width 60%
    margin 0 auto
  }
  button{
    float right
  }
}

// pagination
.el-pagination {
  padding 20px 0 0
  text-align right
}

// table
.el-table {
  border 1px solid $--color-border-3
  border-bottom none
}

//center
.text-center{
  text-align center
}
.bg_gray{
  background-color $--background-color-gray
  padding 20px
}
.container{
  padding 0px 20px
}
.img-responsive {
  display: block;
  height: auto;
  width 100%
}
//box
.panel-body {
  border $--border
  padding 15px
}
//vertical center
.vertical-center{
  position absolute
  top 50%
  transform translate(0,-50%)
}
.vertical-horizontal{
  position absolute
  left 50%
  top 50%
  transform translate(-50%,-50%)
}
//icon-size
.icon-size-large{
  font-size 50px
  color $--color-gray
}
.icon-size-medium{
  font-size 35px
  color $--color-gray
}
//code input
.code-input{
  width 60%
}
.btn_right{
  float right
}
.btn_submit{
  text-align right
  margin-top 20px
}
//el-dialog
.el-dialog__body,.dialogStyle /deep/ .el-dialog--center .el-dialog__body{
  padding 0px 30px 10px
}
.dialogStyle /deep/ .el-dialog__title{
  font-size 14px
}
.dialogStyle /deep/ .el-form-item{
  margin-bottom 10px
}
.dialogStyle.mb15 /deep/ .el-form-item{
  margin-bottom 15px
}
.dialogStyle /deep/ .vertical-horizontal{
  margin 0 auto
  position absolute
  left 50%
  top 50%
  transform translate(-50%,-50%)
}
//Pages
.text-red{
  color red
}